{
    "plugins": ["prettier-plugin-blade", "prettier-plugin-toml"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
