volumes:
    db_data:
    caddy_data:
    # TODO: private and public disks

secrets:
    DB_PASSWORD:
        file: ./secrets/DB_PASSWORD.txt
    APP_KEY:
        file: ./secrets/APP_KEY.txt
    MAILERSEND_ADMIN_ADDRESS:
        file: ./secrets/MAILERSEND_ADMIN_ADDRESS.txt
    MAILERSEND_API_KEY:
        file: ./secrets/MAILERSEND_API_KEY.txt
    R2_ACCESS_KEY_ID:
        file: ./secrets/R2_ACCESS_KEY_ID.txt
    R2_SECRET_ACCESS_KEY:
        file: ./secrets/R2_SECRET_ACCESS_KEY.txt
    R2_ENDPOINT:
        file: ./secrets/R2_ENDPOINT.txt
    R2_PRIVATE_BUCKET:
        file: ./secrets/R2_PRIVATE_BUCKET.txt
    NIGHTWATCH_TOKEN:
        file: ./secrets/NIGHTWATCH_TOKEN.txt

x-laravel-config: &laravel-config
    image: ghcr.io/davidharting/davidharting.com:latest
    secrets:
        - DB_PASSWORD
        - APP_KEY
        - MAILERSEND_API_KEY
        - MAILERSEND_ADMIN_ADDRESS
        - R2_ACCESS_KEY_ID
        - R2_SECRET_ACCESS_KEY
        - R2_ENDPOINT
        - R2_PRIVATE_BUCKET
        - NIGHTWATCH_TOKEN
    environment:
        APP_DEBUG: "false"
        APP_ENV: production
        # APP_KEY: Injected into /run/secrets/APP_KEY
        APP_NAME: davidharting.com
        APP_URL: https://davidharting.com
        BROADCAST_DRIVER: log
        CACHE_DRIVER: database
        DB_CONNECTION: pgsql
        DB_DATABASE: laravel
        DB_HOST: database
        # DB_PASSWORD: Injected into /run/secrets/DB_PASSWORD
        DB_PORT: 5432
        DB_USERNAME: laravel
        FILESYSTEM_DISK_PRIVATE: r2-private
        LOG_CHANNEL: stack
        LOG_STACK: stderr,nightwatch
        LOG_DEPRECATIONS_CHANNEL: null
        LOG_LEVEL: debug
        NIGHTWATCH_INGEST_URI: nightwatch-agent:2407
        NIGHTWATCH_REQUEST_SAMPLE_RATE: "0.1"
        MAIL_FROM_ADDRESS: "hello@davidharting.com"
        MAIL_FROM_NAME: davidharting.com
        MAIL_LOG_CHANNEL: stderr
        MAIL_MAILER: mailersend
        OCTANE_HTTPS: true
        OCTANE_SERVER: frankenphp
        QUEUE_CONNECTION: database
        SESSION_DRIVER: database
        SESSION_LIFETIME: 120
        VITE_APP_NAME: davidharting.com

    depends_on:
        database:
            condition: service_healthy
    restart: unless-stopped
    stdin_open: true
    tty: true

    deploy:
        resources:
            limits:
                cpus: "0.25"
                memory: 256M
            reservations:
                cpus: "0.1"
                memory: 128M

services:
    database:
        image: postgres:17.2
        secrets:
            - DB_PASSWORD
        environment:
            POSTGRES_USER: laravel
            POSTGRES_PASSWORD_FILE: /run/secrets/DB_PASSWORD
            POSTGRES_DB: laravel
        stdin_open: true
        tty: true
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U laravel"]
            interval: 1s
            timeout: 5s
            retries: 15
        volumes:
            - db_data:/var/lib/postgresql/data

        deploy:
            resources:
                limits:
                    cpus: "0.25"
                    memory: 256M
                reservations:
                    cpus: "0.1"
                    memory: 128M

    migrations:
        <<: *laravel-config
        command: ["php", "artisan", "migrate", "--force"]
        restart: no

    web:
        <<: *laravel-config
        ports:
            - "80:80"
            - "443:443"
            - "443:443/udp"
        command:
            [
                "php",
                "artisan",
                "octane:frankenphp",
                "--caddyfile",
                "Caddyfile",
                "--https",
                "--http-redirect",
                "--host",
                "davidharting.com",
            ]
        depends_on:
            migrations:
                condition: service_completed_successfully

        volumes:
            - caddy_data:/data

        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost/healthz || exit 1"]
            interval: 30s
            timeout: 5s
            retries: 5
    cron:
        <<: *laravel-config
        command: ["php", "artisan", "schedule:work"]
        depends_on:
            migrations:
                condition: service_completed_successfully
        healthcheck:
            test: ["CMD-SHELL", 'pgrep -fl "php artisan schedule:work"']
            interval: 30s
            timeout: 5s
            retries: 5

    worker:
        <<: *laravel-config
        command: ["php", "artisan", "queue:work", "-v"]
        depends_on:
            migrations:
                condition: service_completed_successfully

        healthcheck:
            test: ["CMD-SHELL", 'pgrep -fl "php artisan queue:work"']
            interval: 30s
            timeout: 5s
            retries: 5

    nightwatch-agent:
        <<: *laravel-config
        command: ["php", "artisan", "nightwatch:agent"]
        environment:
            NIGHTWATCH_INGEST_URI: ""
        depends_on:
            migrations:
                condition: service_completed_successfully

        healthcheck:
            test: ["CMD-SHELL", 'pgrep -fl "php artisan nightwatch:agent"']
            interval: 30s
            timeout: 5s
            retries: 5
