includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        # Pest test context provides Laravel TestCase methods dynamically
        - '#Call to method (artisan|actingAs|expectExceptionMessage|assertDatabaseHas|assertThrows)\(\) on an unknown class#'
        - '#Call to protected method (assertDatabaseHas|assertThrows)\(\) of class#'
        # Eloquent models have magic properties from database
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$#'
        # Always-true assertions on non-nullable factory results
        - '#Call to method PHPUnit\\Framework\\Assert::assertNotNull\(\) .* will always evaluate to true#'
        # PHPDoc type mismatches in tests
        - '#PHPDoc tag @var for variable \$this contains unknown class (TestCase|Tests\\Feature\\Actions\\SofaImport\\TestCase)#'
        # Spatie Feed protected properties accessed in tests
        - '#Access to protected property Spatie\\Feed\\FeedItem::\$#'
        # PHPUnit methods with incorrect parameter count in tests
        - '#Method PHPUnit\\Framework\\Assert::(stringStartsWith|stringContains)\(\) invoked with \d+ parameters#'
        # Test response methods not recognized
        - '#Call to an undefined method Illuminate\\Testing\\TestResponse::call\(\)#'
